DB_USER=admin
DB_PASS=admin123
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=logitrack_dw

# Optional. Kalau diisi, value ini akan override DB_* di atas.
# LOGITRACK_DB_URL=postgresql+psycopg2://admin:admin123@127.0.0.1:5433/logitrack_dw
